.navbar .dropdown-menu li a:hover, .navbar .dropdown-menu li a:focus, .navbar .dropdown-menu li a:active, .navbar.navbar-default .dropdown-menu li a:hover, .navbar.navbar-default .dropdown-menu li a:focus, .navbar.navbar-default .dropdown-menu li a:active {
  background-color: #00acc1;
}

.table > tbody > tr:nth-child(odd) {
  background: aliceblue;
}

.table > tbody > tr:hover {
  background: grey;
}

.table > tbody > tr:hover * {
  color: white;
  cursor: pointer;
}