{{> head }}

<body>

  <div class="wrapper">
    <div class="sidebar" data-color="blue" data-image="./assets/img/sidebar-1.jpg">

      <!--
		        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

		        Tip 2: you can also add an image using data-image tag
		    -->

      <div class="logo">
        <a href="http://www.creative-tim.com" class="simple-text">
					Travel
				</a>
      </div>

      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="active">
            <a href="/">
								<i class="material-icons">explore</i>
								<p>Locations</p>
						</a>
          </li>
          <li>
            <a href="/stamp">
								<i class="material-icons">stars</i>
								<p>Stamps</p>
						</a>
          </li>
          <li>
            <a href="/users">
								<i class="material-icons">person</i>
								<p>Users</p>
						</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="main-panel">
      {{> navbar }}

      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header" data-background-color="blue">
                  <h4 class="title">Location Data</h4>
                  <p class="category">Here are the details for each locations</p>
                </div>
                <div class="card-content table-responsive">
                  <table class="table table-responsive" id="locationTable">
                    <thead class="text-info">
                      <th>Name</th>
                      <th>Address</th>
                      <th>Longitude</th>
                      <th>latitude</th>
                      <th>Phone</th>
                      <th>Website</th>
                    </thead>
                    <tfoot class="text-info">
                      <th>Name</th>
                      <th>Address</th>
                      <th>Longitude</th>
                      <th>latitude</th>
                      <th>Phone</th>
                      <th>Website</th>
                    </tfoot>
                    <tbody>
                      <!-- <tr>
                        <td>789y8hj98h9</td>
                        <td>Birmingham Park</td>
                        <td>23B, Street V</td>
                        <td>23.4588821</td>
                        <td>23.4588821</td>
                        <td>Birmingham Monument Centre and Amusement Park</td>
                        <td>Park1.jpg, pose.png</td>
                        <td>08168861541</td>
                        <td class="text-info"><a href="#" target="_blank">www.birmighampark.com</a></td>
                      </tr> -->
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      {{> footer }}

      <script>
        $(document).ready(function () {
          var locationTable = $('#locationTable tbody');
          window.allLocations = [];
          $.ajax({
            method: 'GET',
            url: '/api/location',
            success: function (data) {
              data.forEach(function (locData, index) {
                window.allLocations.push(locData);
                var toRender = '<tr>';
                toRender += '<td>' + locData.name + '</td>';
                toRender += '<td>' + locData.address + '</td>';
                toRender += '<td>' + locData.longitude + '</td>';
                toRender += '<td>' + locData.latitude + '</td>';
                toRender += '<td>' + locData.phone + '</td>';
                toRender += '<td class="text-info"><a href="http://' + locData.website + '" target="_blank">' + locData.website + '</a></td>';
                toRender += '</tr>';
                locationTable.append(toRender);
              });
              $('#locationTable').DataTable();
            }
          });
        });
      </script>