{{> head }}

<body>

  <div class="wrapper">
    <div class="sidebar" data-color="blue" data-image="./assets/img/sidebar-1.jpg">

      <!--
		        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

		        Tip 2: you can also add an image using data-image tag
		    -->

      <div class="logo">
        <a href="http://www.creative-tim.com" class="simple-text">
					Travel
				</a>
      </div>

      <div class="sidebar-wrapper">
        <ul class="nav">
          <li>
            <a href="/">
								<i class="material-icons">explore</i>
								<p>Locations</p>
						</a>
          </li>
          <li class="active">
            <a href="/stamp">
								<i class="material-icons">stars</i>
								<p>Stamps</p>
						</a>
          </li>
          <li>
            <a href="/users">
								<i class="material-icons">person</i>
								<p>Users</p>
						</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="main-panel">
      {{> navbar }}

      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header" data-background-color="blue">
                  <h4 class="title">Stamp Data</h4>
                  <p class="category">Here are the details for each Stamps</p>
                </div>
                <div class="card-content table-responsive">
                  <table class="table" id="stampTable">
                    <thead class="text-info">
                      <th>Name</th>
                      <th>Display Name</th>
                      <th>LocationId</th>
                      <th>Website</th>
                      <th>updated</th>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      {{> footer}}

      <script>
        $(document).ready(function () {
          var stampTable = $('#stampTable tbody');
          $.ajax({
            method: 'GET',
            url: '/api/stamp',
            success: function (data) {
              data.forEach(function (stampData, index) {
                var toRender = '<tr>';
                toRender += '<td>' + stampData.name + '</td>';
                toRender += '<td>' + stampData.display_name + '</td>';
                toRender += '<td>' + stampData.locationId + '</td>';
                toRender += '<td class="text-info"><a href="http://' + stampData.website + '" target="_blank">' + stampData.website + '</a></td>';
                toRender += '<td>' + moment(stampData.updatedAt).format('DD-MM-YYYY') + '</td>';
                toRender += '</tr>';
                stampTable.append(toRender);
              });
              $('#stampTable').DataTable();
            }
          });
        });
      </script>