 {{> head }}

<body>

  <div class="wrapper">
    <div class="sidebar" data-color="blue" data-image="./assets/img/sidebar-1.jpg">

      <!--
		        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

		        Tip 2: you can also add an image using data-image tag
		    -->

      <div class="logo">
        <a href="http://www.creative-tim.com" class="simple-text">
					Travel
				</a>
      </div>

      <div class="sidebar-wrapper">
        <ul class="nav">
          <li>
            <a href="/">
								<i class="material-icons">explore</i>
								<p>Locations</p>
						</a>
          </li>
          <li>
            <a href="/stamp">
								<i class="material-icons">stars</i>
								<p>Stamps</p>
						</a>
          </li>
          <li class="active">
            <a href="/users">
								<i class="material-icons">person</i>
								<p>Users</p>
						</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="main-panel">
      {{> navbar }}

      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header" data-background-color="blue">
                  <h4 class="title">Location Data</h4>
                  <p class="category">Here are the details for each locations</p>
                </div>
                <div class="card-content table-responsive">
                  <table class="table" id="userTable">
                    <thead class="text-info">
                      <th>Full name</th>
                      <th>email</th>
                      <th>No.of Trips</th>
                      <th>No.of Trips</th>
                      <th>Countyr</th>
                      <th>Location</th>
                      <th>Push enabled</th>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      {{> footer}}

      <script>
        $(document).ready(function () {
          var userTable = $('#userTable tbody');
          $.ajax({
            method: 'GET',
            url: '/api/user',
            success: function (data) {
              data.forEach(function (userData, index) {
                var toRender = '<tr>';
                toRender += '<td>' + userData.fullname + '</td>';
                toRender += '<td>' + userData.email + '</td>';
                toRender += '<td>' + userData.mytrips.length + '</td>';
                toRender += '<td>' + userData.mystamps.length + '</td>';
                toRender += '<td>' + userData.country_name + '</td>';
                if(userData.location) {
                  toRender += '<td> (' + userData.location + ') </td>';
                } else {
                  toRender += '<td> not set </td>';
                }
                //toRender += '<td>' + moment(userData.updatedAt).format('DD-MM-YYYY') + '</td>';
                if(userData.push_enabled) {
                  toRender += '<td>' + userData.push_enabled + '</td>';
                } else {
                  toRender += '<td>' + 'not set' + '</td>';
                }
                toRender += '</tr>';
                userTable.append(toRender);
              });
              $('#userTable').DataTable();
            }
          });
        });
      </script>