.navbar .dropdown-menu li a:hover, .navbar .dropdown-menu li a:focus, .navbar .dropdown-menu li a:active, .navbar.navbar-default .dropdown-menu li a:hover, .navbar.navbar-default .dropdown-menu li a:focus, .navbar.navbar-default .dropdown-menu li a:active {
  background-color: #00acc1;
}

.table > tbody > tr:nth-child(odd) {
  background: aliceblue;
}

.table > tbody > tr:hover {
  background: grey;
}

.table > tbody > tr:hover * {
  color: white;
  cursor: pointer;
}

.dataTables_wrapper .dataTables_filter input {
  margin-left: 0.5em;
  border: 1px solid #09b2c7;
  background: #e6e6e6;
  font-size: 1.5rem;
  color: black;
  border-radius: 3px;
  padding: 2px;
}

table img {
  margin-bottom: 0.4em;
  max-width: 8em;
  margin-right: 0.5em;
}